# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Dependencies
*.lock
pip-log.txt

# IDE files
.vscode/

# Streamlit
.streamlit/

# Keras / TensorFlow
logs/

# Temporary files
*.bak
*.swp
*~

# Jupyter notebooks
.ipynb_checkpoints/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Env
textS2